 <html>
    <head>
        <title>Comparison Results</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

        <div id="container">
            <div class="title">
                <h1>COMPARISON RESULTS</h1>
            </div>
            <div id="content">     
			    <pre>
				<code>
					<strong>{{result}}</strong>
				</code>
				</pre>
			
			<form method="post" action="{{ url_for('form') }}">
				<script>
				function goBack() {
    			window.history.back();
				}
				</script>
				<input type="button" onclick="goBack()" value= "Go Back"/>
			</form>
            </div>
        </div>
    </body>
</html>
