 <html>
    <head>
    <script>
	function goBack() {
    window.history.back()
	}
	</script>
        <title>Comparison Results</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

        <div id="container">
            <div class="title">
                <h1>COMPARISON RESULTS</h1>
            </div>
            <div id="content">         
			    <pre>
				<code>
					<strong>{{result}}</strong>
				</code>
				</pre>
			<form>
			<input type="submit" onclick="goBack()" class="compare" value="Go Back" />
			</form>
            </div>
        </div>
    </body>
</html>
