<html>
    <head>
        <title>Welcome! JSON COMPARE PAGE</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>WELCOME TO THE COMPARE JSON PAGE</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('form') }}">
                  <label><strong>
                      This page povides the following comparison results from 2 JSON data inputs: <br/>
                        1.- Will return TRUE if both JSONS are equal<br/>
                        2.- Will return FALSE if both JSONS are different size<br/>
                        3.- If same size but different, will return where the differences are<br/>
                        <br/>
                        Hope you enjoy using this tool.<br/> 
                        Contact: Salvador(Chava) Jimenez - nojiso@gmail.com
                  </strong></label>
                  
                  <br>
                  <input type="submit" value="GIVE IT A TRY!" />
                </form>
            </div>        
    </body>
</html>
 